@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- about-content -->
<div class="about-content">
    <div class="about-big-img">
        <div class="text_box">
            <div class="text">
                <h3>关于我们</h3>
                <p>
                    我们一直以来致力于把教育行业线下的业务整体搬到线上来，从招生、管理、报名、上课、人事、财务等业务整合成线上一站式智能化产品，能够帮机构完成招生引流、教务管理、财务管理、数据分析、家校互动等，让机构的办学成本降低，效率提高，全面提升管理教学、办学水平。

                    我们一直坚持只提供简洁、高频、实用的功能。如何为您产生更大的价值和优质的服务是我们一直在努力探索和研究的。

                    <br />与您一起成长、共同进步将永远是我们的第一要务。
            </div>
        </div>
    </div>
    @*<div class="about-info">
            <div class="img-texts">
                <div class="item">
                    <div class="layui-fluid">
                        <div class="layui-row">
                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 img-center">
                                <img src="~/images/gy_img1.jpg">
                            </div>
                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                                <div class="text">
                                    <h5>About us</h5>
                                    <h4>关于我们</h4>
                                    <p>成都知识索引科技有限公司是一家创新型计算机软件研发公司，专注于国内教育培训机构管理平台研发。公司始终秉持“用科技改变教育”的理念。公司旗下研发的“微恩云校”教育培训机构一体化SaaS管理平台，充分利用互联网网络管理系统模式，以网络为平台，为素质教育培训机构提供信息一体化SaaS管理的全系统服务。微恩云校采用了先进的软件技术架构和协同管理的设计思想，蕴含了丰富的素质教育培训机构管理思想和管理经验。公司技术骨干多毕业于重点高校，拥有多年的软件项目管理开发经验，这使得系统的稳定性、逻辑性、扩展性有了更好、更安全的保障。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>
<!-- about-content -->