<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">访问被拒绝</div>
                <div class="layui-card-body">
                    你无权访问这些资源。
                </div>
            </div>
        </div>
    </div>
</div>