@model LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">你已成功退出。</div>
            <div class="layui-card-body">
                @if (Model.PostLogoutRedirectUri != null)
                {
                    <div>
                        <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">点这里返回</a>
                        <span>@Model.ClientName</span>
                    </div>
                }
                @if (Model.SignOutIframeUrl != null)
                {
                    <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
                }
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
