@{
    ViewData["Title"] = "成都知识索引科技有限公司";
}

<div class="content">
    <div class="title">
        <h5>欢迎您的到来</h5>
        <h3>为教培机构提供全方位运营管理解决方案</h3>
        <h4>To provide comprehensive operation and management solutions for education and training institutions</h4>
    </div>
    <div class="layui-carousel imgbox" id="test1">
        <div carousel-item class="imgH">
            <div><img style="width: 100%" src="~/images/sy_banner_01.jpg"></div>
            <div><img style="width: 100%" src="~/images/sy_banner_01.jpg"></div>
        </div>
    </div>
    <div class="prod-show">
        <div class="layui-fluid">
            <div class="row layui-col-space12 layui-clear">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="~/images/sy_img1.jpg" alt="">
                        <h3>教务管理</h3>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="~/images/sy_img2.jpg" alt="">
                        <h3>家校互动</h3>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="~/images/sy_img3.jpg" alt="">
                        <h3>成长档案</h3>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="~/images/sy_img4.jpg" alt="">
                        <h3>班级相册</h3>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="~/images/sy_img1.jpg" alt="">
                        <h3>市场营销</h3>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="~/images/sy_img2.jpg" alt="">
                        <h3>收支管理</h3>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="~/images/sy_img3.jpg" alt="">
                        <h3>微官网</h3>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="~/images/sy_img4.jpg" alt="">
                        <h3>数据分析</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--四大核心优势-->
    <div class="service-process-box">
        <div class="service-process">
            <div class="layui-fluid">
                <h3 class="title">四大核心优势 为机构保驾护航</h3>
                <div class="process-centent">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="item">
                                <h4>01</h4>
                                <h5>技术领先</h5>
                                <p>专业研发团队倾力打造</p>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="item">
                                <h4>02</h4>
                                <h5>安全保障</h5>
                                <p>符合国际标准信息安全认证</p>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="item">
                                <h4>03</h4>
                                <h5>服务贴心</h5>
                                <p>7*14小时在线响应需求</p>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="item">
                                <h4>04</h4>
                                <h5>口碑优质</h5>
                                <p>众多教培机构信赖之选</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Partner">
        <div class="title">
            <h3>打磨好产品&nbsp;&nbsp;&nbsp;&nbsp;开启盈利增长新模式</h3>
            <h4>Create a good product to start a new model of profit growth</h4>
        </div>
        <div class="cont-box">
            <div class="layui-fluid">
                <div class="row layui-col-space20">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                        <h2>LOGO</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-contact">
        <div class="service-contact-box">
            <div class="layui-fluid">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md7">
                        <div class="map-img">
                            <iframe src="~/map.html" width="700" height="370" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm5  layui-col-md4 fr">
                        <div class="cantact-info">
                            <h3>联系我们</h3>
                            <div class="item">
                                <p><i class="layui-icon layui-icon-location"></i>地址:<span>成都市成华区熊猫大道1248号</span></p>
                                <p><i class="layui-icon layui-icon-dialogue"></i>电话:<span>400-000-888</span></p>
                                <p><i class="layui-icon layui-icon-chat"></i>邮箱:<span>nick2020cd@sina.com</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    layui.use(['carousel', 'jquery', 'element'], function () {
        var carousel = layui.carousel, $ = layui.$;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%'  //设置容器宽度
            , arrow: 'always'
            , height: 'auto'
            , anim: 'updown' //切换动画方式
        });
        $('.app-header-menuicon').on('click', function () {
            $('.header-down-nav').toggleClass('down-nav')
        })
        var imgH = $('.imgbox div.layui-this').outerHeight();
        $('.imgH').css('height', imgH + 'px')
        window.onresize = function () {
            var imgH = $('.imgbox div.layui-this').outerHeight();
            $('.imgH').css('height', imgH + 'px')
        };

    });
</script>
