
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">成功</div>
            <div class="layui-card-body">
                <ul>
                    <li>您已成功为设备授权</li>
                </ul>
            </div>
        </div>
    </div>
</div>
