@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- service-content -->
<div class="service-content">

    <div class="service-big-img">
        <div class="service-img-text">
            <h3>用心服务&nbsp;&nbsp;与您一同进步</h3>
        </div>
    </div>

    <div class="content-introduction">
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                    <div class="text">
                        <h2>我们的服务</h2>
                        <div class="line"></div>
                        <p>
                            美阅教育为您的每一个教育节点，提供完整的OMO教育服务。即使是扎根线下授课场景的传统教育机构，也可以从线上预习、课前小测、课后辅导、课后作业、课后考核的场景里完成线上的融合，实现最基础的线下线上教育融合闭环，为学员提供更完善的教学服务。
                        </p>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                    <div class="img-text-box layui-clear">
                        <div class="layui-row">
                            <div class="layui-col-xs6 layui-col-sm3 layui-col-md6">
                                <div class="item">
                                    <img src="~/images/fw_icon1.png" alt="">
                                    <h5>软件开发</h5>
                                </div>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm3 layui-col-md6">
                                <div class="item">
                                    <img src="~/images/fw_icon1.png" alt="">
                                    <h5>教培系统</h5>
                                </div>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm3 layui-col-md6">
                                <div class="item">
                                    <img src="~/images/fw_icon1.png" alt="">
                                    <h5>食品包装</h5>
                                </div>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm3 layui-col-md6">
                                <div class="item">
                                    <img src="~/images/fw_icon1.png" alt="">
                                    <h5>食品包装</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-process-box">
        <div class="service-process">
            <div class="layui-fluid">
                <h3 class="title">微恩云校</h3>
                <div class="process-centent">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="item">
                                <h4>01</h4>
                                <h5>市场营销</h5>
                                <p>提供线上线下的招生营销方案；查看实时生源信息，升报班转化率。</p>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="item">
                                <h4>02</h4>
                                <h5>教务管理</h5>
                                <p>高效生成课表，打通线上线下课程管理; 打造教务管理系统，随时掌握状态。</p>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="item">
                                <h4>03</h4>
                                <h5>家校互动</h5>
                                <p>热门话题、实时资讯、论坛模式、移动社群、学生成长档案。</p>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="item">
                                <h4>04</h4>
                                <h5>数据分析</h5>
                                <p>稳定的大数据平台、完备的策略服务体系、多维度的数据报表和分析。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-contact">
        <div class="service-contact-box">
            <div class="layui-fluid">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md7">
                        <div class="map-img">
                            <iframe src="map.html" width="700" height="370" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm5  layui-col-md4 fr">
                        <div class="cantact-info">
                            <h3>联系我们</h3>
                            <div class="item">
                                <p><i class="layui-icon layui-icon-location"></i>地址:<span>成都市成华区熊猫大道1248号</span></p>
                                <p><i class="layui-icon layui-icon-dialogue"></i>电话:<span>400-000-888</span></p>
                                <p><i class="layui-icon layui-icon-chat"></i>邮箱:<span>nick2020cd@sina.com</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- service-content -->