@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<!-- Head Start -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md12 margin_top_01">
            <blockquote class="layui-elem-quote title">
                知识索引科技统一身份认证中心
                @if (!string.IsNullOrWhiteSpace(name))
                {
                    <span class="lay_current_user">
                        <i class="layui-icon layui-icon-user"></i>&nbsp;&nbsp;@name &nbsp;&nbsp;<i class="layui-icon layui-icon-logout"></i><a class="layui-badge layui-bg-green layuiadmin-badge" asp-action="Logout" asp-controller="Account">注销</a>
                    </span>
                }
            </blockquote>
        </div>
    </div>
</div>
<!-- Head End -->