@model ErrorViewModel

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">错误消息</div>
            <div class="layui-card-body">
                @if (error != null)
                {
                    <strong>
                        <em>
                            提示: @error
                        </em>
                    </strong>

                    if (errorDescription != null)
                    {
                        <div>@errorDescription</div>
                    }
                }
                @if (request_id != null)
                {
                    <div class="request-id">Request Id: @request_id</div>
                }
            </div>
        </div>
    </div>
</div>